<h1>Neuer Post</h1>
<%= form_tag '/posts/create' do %>
  <div>
    <h3>Titel</h3>
    <%= text_field :post, :title%>
  </div>
  <div>
    <h3>Content</h3>
    <%= text_area :post, :content %>
  </div>
  <div>
    <%= submit_tag "Anlegen" %>
  </div>
<% end %>
